aiohttp
aiofiles
asyncio
ffmpeg-python
Pillow
pyrogram
hachoir
lyricsgenius
py-tgcalls
wget
python-dotenv
youtube_search_python
youtube_search
speedtest-cli
motor
psutil
requests
rich
dnspython
git+https://github.com/Sorrybabe/downloader
pymongo[srv]
TgCrypto
