aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor
pillow
psutil
py-tgcalls==0.8.6
pykeyboard
pyrogram==1.4.16
python-dotenv
pyyaml==5.3.1
requests
speedtest-cli
spotipy
tgcrypto
youtube-search
youtube-search-python
yt-dlp
