STRING_SESSION = "" # A pyrogram String Session

BOT_TOKEN= "" Get a token from @botFather

API_ID= "" Get this value from https://my.telegram.org

API_HASH= "" Get this value from https://my.telegram.org

SUDO_USERS = "" # For multiple Users Use Space

DURATION_LIMIT= "" # In Mins (EX :- 60)

MONGO_DB_URI = "" # Mongo DB URL

LOG_GROUP_ID = "" # Chat id of a group, not channel

MUSIC_BOT_NAME = "" # Name for your music bot

OWNER_ID = "" Owner id

SUPPORT_CHANNEL = "" # Support Channel Link if you have any, Leave blank if no support. Your link must start with https://t.me/

SUPPORT_GROUP = "" #Support Group Link if you have any, Leave blank if no support. Your link must start with https://t.me/

ASSISTANT_PREFIX ="" #Prefix for Assistant Commands.
